@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+HU:wght@100..400&display=swap');
@import "tailwindcss";

*{
   font-family: "Outfit", sans-serif;
   scrollbar-width: thin;
   scrollbar-color: #787777 #1e1e1e;
}


@theme{
  --color-primary: #F84565;
  --color-primary-dull: #D63854;

}

body{
  color: white;
  background-color: black;
}

.no-scrollbar{
  scrollbar-width:  none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
